@font-face {
    font-family: 'Montserrat';
    src: url('../../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  ion-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
  }