<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="background: linear-gradient(to bottom right, #a4e871, #ffe164);">
  <form #registerForm="ngForm">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Surname</ion-label>
      <ion-input type="text" name="surname" [(ngModel)]="surname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" (click)="register(name, surname, email, password)">Register</ion-button>
  </form>
  <ion-button expand="block" color="success" routerLink="/login">Login</ion-button>
</ion-content>

<style>
  ion-button {
    border-radius: 50px;
    --background: #7bc96f;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style> -->