<ion-toolbar style="width: 100%;">
  <ion-button  slot="end" (click)="createPost()" >
    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

<p *ngIf="posts.length == 0" class="no-content-text">
  You don't have posts
</p>

<ion-content *ngIf="posts.length != 0">
<ion-list>
  <ion-item *ngFor="let post of posts">
    <ion-card style="width: 100%;">
      <ion-card-header style="color: black; font-size: 16px; ">
        <div style="font-size: 16px; font-weight: bold;">Category:</div> {{postCategories[post.postCategoryId]}}
        <p></p>
        <div style="font-size: 16px; font-weight: bold;">Location:</div> {{post.location}}
        <p></p>
        <div style="font-size: 16px; font-weight: bold;">Post Type:</div> {{postTypes[post.type]}}
      </ion-card-header>
      <ion-card-header style="font-size: 18px; font-weight: bold; color: black">
        {{post.title}}
      </ion-card-header>
      <ion-card-content style="font-size: 16px; color: black">
        {{post.content}}
      </ion-card-content>
      <div style="display: flex; flex-wrap: wrap;">
        <div *ngFor="let image of post.images" style="flex-basis: 33.33%; padding: 5px; flex-grow: 1;">
          <img [src]="image" style="max-width: 100%; max-height: 100%; width: auto; height: auto;">
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <ion-button (click)="editPost(post)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deletePost(post.id)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
      <br>
      <ion-label class="lable" (click)="showComments(post)">Comments</ion-label>
      <ion-list *ngIf="post.showComments">
        <ion-label *ngIf="!isHasComments" class="item-name">There are no comments</ion-label>
        <br>
        <div style="margin-bottom: 10px;" *ngFor="let c of post.comments">
          <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5px;">
            <div style="display: flex; align-items: center;">
              <div style="font-weight: bold; font-size: 18px; color: black; margin-right: 5px;">{{ c.creator.name }}</div>
              <div style="font-weight: bold; font-size: 18px; color: black;">{{ c.creator.surname }}</div>
            </div>
            <div class="time other-time">{{ c.comment.createdAt | date:'d MMMM, HH:mm' }}</div>
          </div>
          <div style="font-size: 16px; color: rgb(36, 35, 35)">{{ c.comment.text }}</div>
          <br>
        </div>
      </ion-list>
    </ion-card>
  </ion-item>
</ion-list>
<ion-infinite-scroll>
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>