<ion-toolbar style="width: 100%;">
  <ion-button  slot="end" (click)="createPost()" >
    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content>
<ion-list>
  <ion-item *ngFor="let post of posts">
    <ion-card style="width: 100%;">
      <ion-card-header style="color: black; font-size: 16px; ">
        <div style="font-size: 16px; font-weight: bold;">Category:</div> {{postCategories[post.postCategoryId]}}
        <p></p>
        <div style="font-size: 14px; font-weight: bold;">Location:</div> {{post.location}}
      </ion-card-header>
      <ion-card-header style="font-size: 18px; font-weight: bold; color: black">
        {{post.title}}
      </ion-card-header>
      <ion-card-content style="font-size: 16px; color: black">
        {{post.content}}
      </ion-card-content>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <ion-button (click)="editPost(post)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deletePost(post.id)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
      <br>
      <ion-label (click)="showComments(post)">Comments</ion-label>
        <ion-list *ngIf="post.showComments">
          <ion-item *ngFor="let comment of post.comments">
            <div style="font-weight: bold;">Location:</div> {{comment.text}}
          </ion-item>
        </ion-list>
      <ion-list *ngIf="1 > 2">
        <ion-item>
          <ion-label>{{"a"}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-item>
</ion-list>
<ion-infinite-scroll>
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>