<ion-content>
  <form [formGroup]="postCreationForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Post Type</ion-label>
      <ion-select formControlName="PostType">
        <ion-select-option [value]="postTypes.Customer">Customer</ion-select-option>
        <ion-select-option [value]="postTypes.Executor">Executor</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Post Category</ion-label>
      <ion-select formControlName="PostCategoryId">
        <ion-select-option [value]="postCategories.Medicine">Medicine</ion-select-option>
        <ion-select-option [value]="postCategories.Walking">Walking</ion-select-option>
        <ion-select-option [value]="postCategories.Grooming">Grooming</ion-select-option>
        <ion-select-option [value]="postCategories.Training">Training</ion-select-option>
        <ion-select-option [value]="postCategories.PetSitting">PetSitting</ion-select-option>
        <ion-select-option [value]="postCategories.VeterinaryCare">VeterinaryCare</ion-select-option>
        <ion-select-option [value]="postCategories.Other">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" formControlName="Title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Content</ion-label>
      <ion-input type="text" formControlName="Content"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input type="tel" formControlName="Location"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="!postCreationForm.valid" (click)="onSubmit()">Create</ion-button>
  </form>
</ion-content>
