<ion-toolbar style="width: 100%;">
  <div class="toolbar-container">
    <ion-item>
      <ion-label class="lable" style="font-size: medium">Location:</ion-label>
      <ion-input [(ngModel)]="selectedLocation"></ion-input>
    </ion-item>
    <ion-select class="lable"style="width: 40%;" [(ngModel)]="selectedType" placeholder="Type">
      <ion-select-option [value]="postTypes.Customer">Customers</ion-select-option>
      <ion-select-option [value]="postTypes.Executor">Executors</ion-select-option>
    </ion-select>
    <ion-select class="lable" style="width: 40%;" [(ngModel)]="selectedCategory" placeholder="Category">
      <ion-select-option [value]="0">All</ion-select-option>
      <ion-select-option [value]="postCategories.Medicine">Medicine</ion-select-option>
      <ion-select-option [value]="postCategories.Walking">Walking</ion-select-option>
      <ion-select-option [value]="postCategories.Grooming">Grooming</ion-select-option>
      <ion-select-option [value]="postCategories.Training">Training</ion-select-option>
      <ion-select-option [value]="postCategories.PetSitting">PetSitting</ion-select-option>
      <ion-select-option [value]="postCategories.VeterinaryCare">VeterinaryCare</ion-select-option>
      <ion-select-option [value]="postCategories.Other">Other</ion-select-option>
    </ion-select>
  </div>
</ion-toolbar>
<ion-toolbar>
  <ion-button (click)="getPosts()">
    <ion-icon slot="icon-only" name="search"></ion-icon>
  </ion-button>
</ion-toolbar>

<p *ngIf="posts.length == 0" class="no-content-text">
  Posts not found
</p>

<ion-content *ngIf="posts.length != 0">
  <ion-list>
    <ion-item *ngFor="let post of posts">
      <ion-card style="width: 100%; display: flex; flex-direction: column;">
        <ion-card-header class="item-description">
          <div class="items">
            <div class="item-name">Category:</div>
            <div class="item-value">{{postCategories[post.postCategoryId]}}</div>
          </div>
          <div class="items">
            <div class="item-name">Location:</div>
            <div class="item-value">{{post.location}}</div>
          </div>
        </ion-card-header>
        <ion-card-header class="post-title" style="font-size: 18px; font-weight: bold; color: black">
          {{post.title}}
        </ion-card-header>
        <ion-card-content style="font-size: 16px; color: black">
          {{post.content}}
        </ion-card-content>
        <div style="display: flex; flex-wrap: wrap;">
          <div *ngFor="let image of post.images" style="flex-basis: 33.33%; padding: 5px; flex-grow: 1;">
            <img [src]="image" style="max-width: 100%; max-height: 100%; width: auto; height: auto;">
          </div>
        </div>
        <div style="justify-content: space-between; align-items: center;">
          <ion-button color="success" (click)="createChat(post)">Respond</ion-button>
        </div>
        <br>
        <ion-label class="lable" (click)="showComments(post)">Comments</ion-label>
          <ion-list *ngIf="post.showComments">
            <br>
          </ion-list>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </ion-content>