<ion-list>
    <ion-item>
      <ion-card style="width: 100%; " >
        <ion-card-header>
          {{"post.title"}}
        </ion-card-header>
        <ion-card-content>
          {{"post.text"}}
        </ion-card-content>
        <ion-button slot="end">Откликнуться</ion-button>
        <br>
        <ion-label >Комментарии</ion-label>
        <ion-list *ngIf="1<2">
          <ion-item >
            <ion-label>{{"a"}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-item>
  </ion-list>
  
  <ion-infinite-scroll >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>