@font-face {
  font-family: 'Montserrat';
  src: url('../../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.toolbar-container {
  display: flex;
  align-items: center; 
  gap: 5px; 
}

.item-name {
  font-family: 'Montserrat';
  font-size: 15px; 
  margin-right: 10px;
  color: rgb(77, 76, 76);
}

.item-description {
  font-family: 'HelveticaNeue';
  display: flex;
  justify-content: space-between;
}

.items {
  display: flex;
  align-items: center;
}

.item-value {
  color: rgb(36, 35, 35); 
  font-size: 18px; 
}

.lable {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

ion-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  bottom: 0;
  right: 0;
}

.no-content-text {
  font-family: 'HelveticaNeue';
  font-size: 22px;
  color: grey;
  display: flex;
  justify-content: center;
  height: 100vh;
}